<!DOCTYPE html>
<html>
  <head>
    <title>Maps</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <script src="/js/d3.min.js"></script>
    <script src="/js/topojson.min.js"></script>
 </head>

  <body>
    <script src="/js/map.js"></script>
    <script>
      render_map("<%= src %>");
    </script>
  </body>
</html>
